{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@screens/(.*)$",
		"^@components/(.*)$",
		"^@providers/(.*)$",
		"^@shared/(.*)$",
		"^@constants/(.*)$",
		"^@assets/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
